In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [24]:
df = pd.read_csv('./DATA/datasets_1067_1925_WA_Fn-UseC_-HR-Employee-Attrition.csv')

In [25]:
df.transpose()

,0,1,2,3,4,5,6,7,8,9,...,1460,1461,1462,1463,1464,1465,1466,1467,1468,1469
Age,41,49,37,33,27,32,59,30,38,36,...,29,50,39,31,26,36,39,27,49,34
Attrition,Yes,No,Yes,No,No,No,No,No,No,No,...,No,Yes,No,No,No,No,No,No,No,No
BusinessTravel,Travel_Rarely,Travel_Frequently,Travel_Rarely,Travel_Frequently,Travel_Rarely,Travel_Frequently,Travel_Rarely,Travel_Rarely,Travel_Frequently,Travel_Rarely,...,Travel_Rarely,Travel_Rarely,Travel_Rarely,Non-Travel,Travel_Rarely,Travel_Frequently,Travel_Rarely,Travel_Rarely,Travel_Frequently,Travel_Rarely
DailyRate,1102,279,1373,1392,591,1005,1324,1358,216,1299,...,468,410,722,325,1167,884,613,155,1023,628
Department,Sales,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,Research & Development,...,Research & Development,Sales,Sales,Research & Development,Sales,Research & Development,Research & Development,Research & Development,Sales,Research & Development
DistanceFromHome,1,8,2,3,2,2,3,24,23,27,...,28,28,24,5,5,23,6,4,2,8
Education,2,1,2,4,1,2,3,1,3,3,...,4,3,1,3,3,2,1,3,3,3
EducationField,Life Sciences,Life Sciences,Other,Life Sciences,Medical,Life Sciences,Medical,Life Sciences,Life Sciences,Medical,...,Medical,Marketing,Marketing,Medical,Other,Medical,Medical,Life Sciences,Medical,Medical
EmployeeCount,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
EmployeeNumber,1,2,4,5,7,8,10,11,12,13,...,2054,2055,2056,2057,2060,2061,2062,2064,2065,2068
EnvironmentSatisfaction,2,3,4,4,1,4,3,4,4,3,...,4,4,2,2,4,3,4,2,4,2
Gender,Female,Male,Male,Female,Male,Male,Female,Male,Male,Male,...,Female,Male,Female,Male,Female,Male,Male,Male,Male,Male
HourlyRate,94,61,92,56,40,79,81,67,44,94,...,73,39,60,74,30,41,42,87,63,82
JobInvolvement,3,2,2,3,3,3,4,3,2,3,...,2,2,2,3,2,4,2,4,2,4
JobLevel,2,2,1,1,1,1,1,1,3,2,...,1,3,4,2,1,2,3,2,2,2
JobRole,Sales Executive,Research Scientist,Laboratory Technician,Research Scientist,Laboratory Technician,Laboratory Technician,Laboratory Technician,Laboratory Technician,Manufacturing Director,Healthcare Representative,...,Research Scientist,Sales Executive,Sales Executive,Manufacturing Director,Sales Representative,Laboratory Technician,Healthcare Representative,Manufacturing Director,Sales Executive,Laboratory Technician
JobSatisfaction,4,2,3,3,2,4,1,3,3,3,...,1,1,4,1,3,4,1,2,2,3
MaritalStatus,Single,Married,Single,Married,Married,Single,Married,Divorced,Single,Married,...,Single,Divorced,Married,Single,Single,Married,Married,Married,Married,Married
MonthlyIncome,5993,5130,2090,2909,3468,3068,2670,2693,9526,5237,...,3785,10854,12031,9936,2966,2571,9991,6142,5390,4404
MonthlyRate,19479,24907,2396,23159,16632,11864,9964,13335,8787,16577,...,8489,16586,8828,3787,21378,12290,21457,5174,13243,10228
NumCompaniesWorked,8,1,6,1,9,0,4,1,0,6,...,1,4,0,0,0,4,4,1,2,2
Over18,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,...,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y
OverTime,Yes,No,Yes,Yes,No,No,Yes,No,No,No,...,No,Yes,No,No,No,No,No,Yes,No,No
PercentSalaryHike,11,23,15,11,12,13,20,22,21,13,...,14,13,11,19,18,17,15,20,14,12
PerformanceRating,3,4,3,3,3,3,4,4,4,3,...,3,3,3,3,3,3,3,4,3,3
RelationshipSatisfaction,1,4,2,3,4,3,1,2,2,2,...,2,2,1,2,4,3,1,2,4,1
StandardHours,80,80,80,80,80,80,80,80,80,80,...,80,80,80,80,80,80,80,80,80,80
StockOptionLevel,0,1,0,0,1,0,3,1,0,2,...,0,1,1,0,0,1,1,1,0,0
TotalWorkingYears,8,10,7,8,6,8,12,1,10,17,...,5,20,21,10,5,17,9,6,17,6
TrainingTimesLastYear,0,3,3,3,3,2,3,2,2,3,...,3,3,2,2,2,3,5,0,3,3
WorkLifeBalance,1,3,3,3,3,2,2,3,3,2,...,1,3,2,3,3,3,3,3,2,4
YearsAtCompany,6,10,0,8,2,7,1,1,9,7,...,5,3,20,9,4,5,7,6,9,4
YearsInCurrentRole,4,7,0,7,2,7,0,0,7,7,...,4,2,9,4,2,2,7,2,6,3
YearsSinceLastPromotion,0,1,0,3,2,3,0,0,1,7,...,0,2,9,1,0,0,1,0,0,1
YearsWithCurrManager,5,7,0,0,2,6,0,0,8,7,...,4,0,6,7,0,3,7,3,8,2

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [27]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction',
       'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked',
       'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating',
       'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [28]:
df_obj = df.select_dtypes(exclude=['int64'])

In [29]:
df_obj.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Attrition       1470 non-null   object
 1   BusinessTravel  1470 non-null   object
 2   Department      1470 non-null   object
 3   EducationField  1470 non-null   object
 4   Gender          1470 non-null   object
 5   JobRole         1470 non-null   object
 6   MaritalStatus   1470 non-null   object
 7   Over18          1470 non-null   object
 8   OverTime        1470 non-null   object
dtypes: object(9)
memory usage: 103.5+ KB

In [30]:
for i in df_obj.columns:
    print(f'unique values of {i} : {df[i].unique()}, {len(df[i].unique())}')

unique values of Attrition : ['Yes' 'No'], 2
unique values of BusinessTravel : ['Travel_Rarely' 'Travel_Frequently' 'Non-Travel'], 3
unique values of Department : ['Sales' 'Research & Development' 'Human Resources'], 3
unique values of EducationField : ['Life Sciences' 'Other' 'Medical' 'Marketing' 'Technical Degree'
 'Human Resources'], 6
unique values of Gender : ['Female' 'Male'], 2
unique values of JobRole : ['Sales Executive' 'Research Scientist' 'Laboratory Technician'
 'Manufacturing Director' 'Healthcare Representative' 'Manager'
 'Sales Representative' 'Research Director' 'Human Resources'], 9
unique values of MaritalStatus : ['Single' 'Married' 'Divorced'], 3
unique values of Over18 : ['Y'], 1
unique values of OverTime : ['Yes' 'No'], 2

In [31]:
df.drop(columns=['Over18'],inplace=True)

In [32]:
X  = df.drop(columns='Attrition')
y  = df['Attrition']

In [33]:
X = pd.get_dummies(df,drop_first=True)

In [34]:
y = y.map({'Yes':1, 'No':0})

In [35]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [36]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [37]:
def report_model(model):
    model.fit(X_train,y_train)
    model_preds = model.predict(X_test)
    print(classification_report(y_test,model_preds))
    print('\n')
    print(confusion_matrix(y_test,model_preds))
    print('\n')
    print(accuracy_score(y_test,model_preds))

In [38]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()
report_model(model)

              precision    recall  f1-score   support

           0       0.87      0.95      0.91       416
           1       0.31      0.13      0.18        70

    accuracy                           0.83       486
   macro avg       0.59      0.54      0.54       486
weighted avg       0.79      0.83      0.80       486



[[396  20]
 [ 61   9]]


0.8333333333333334

In [39]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
report_model(model)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       416
           1       1.00      1.00      1.00        70

    accuracy                           1.00       486
   macro avg       1.00      1.00      1.00       486
weighted avg       1.00      1.00      1.00       486



[[416   0]
 [  0  70]]


1.0

In [40]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
report_model(model)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       416
           1       1.00      1.00      1.00        70

    accuracy                           1.00       486
   macro avg       1.00      1.00      1.00       486
weighted avg       1.00      1.00      1.00       486



[[416   0]
 [  0  70]]


1.0

In [43]:
from sklearn.svm import SVC
model = SVC()
report_model(model)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       416
           1       1.00      0.99      0.99        70

    accuracy                           1.00       486
   macro avg       1.00      0.99      1.00       486
weighted avg       1.00      1.00      1.00       486



[[416   0]
 [  1  69]]


0.9979423868312757

In [44]:
#scaling data for logistic model
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [45]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
report_model(model)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       416
           1       1.00      1.00      1.00        70

    accuracy                           1.00       486
   macro avg       1.00      1.00      1.00       486
weighted avg       1.00      1.00      1.00       486



[[416   0]
 [  0  70]]


1.0